<html>
    <head>
        {% include 'includes/Header.html' %}_
        <link rel="stylesheet" href="/static/css/Home.css">

        <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
        <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

        <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">

        <!-- <link rel="stylesheet" type="text/css" href="/assets/icon/themify-icons/themify-icons.css"> -->

        <link rel="stylesheet" href="/static/assets/icon/themify-icons/themify-icons.css">

        <!-- <link rel="stylesheet" type="text/css" href="assets/icon/icofont/css/icofont.css"> -->

        <link rel="stylesheet" href="/static/assets/icon/icofont/css/icofont.css">

        <!-- <link rel="stylesheet" type="text/css" href="assets/icon/simple-line-icons/css/simple-line-icons.css"> -->

        <link rel="stylesheet" href="/static/assets/icon/simple-line-icons/css/simple-line-icons.css">

        <!-- <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap/css/bootstrap.min.css"> -->

        <link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">

        <!-- <link rel="stylesheet" type="text/css" href="assets/css/main.css"> -->

        <!-- <link rel="stylesheet" href="/static/css/main.css"> -->

        <!-- <link rel="stylesheet" type="text/css" href="assets/css/responsive.css"> -->

        <!-- <link rel="stylesheet" href="/static/css/responsive.css"> -->

    </head>
    <body>
        {% include 'includes/navbar.html' %}
        
        <!-- <div class="container d-flex align-items-center justify-content-center fs-1 text-dark flex-column">
            
        </div> -->

        <section class="home-section">
            <div class="container d-flex align-items-center justify-content-center fs-1 text-dark flex-column">
                <h1 class="title">JIRA Dashboard</h1>
                <p class="subtitle">Content Description</p>
                
                <div class="btnst">
                    <button type="button" class="btn waves-effect waves-light">
                        <i class="icofont icofont-server"></i><span class="m-l-10">Get Started </span>
                    </button>
                    
                </div>

            </div>

            

        </section>
        
    </body>
</html>