				
				<div class="card shadow card-body mx-5 pb-0 ">
				<!--row col-->
					<div class="app-page-title ">
						<div class="page-title-wrapper">
							<div class="page-title-heading">
								<div class="page-title-icon">
									<i class="{{page['icon']}} text-info"></i>
								</div>
								<div class="text-dark">{{page["heading"]}}
									<div class="page-title-subheading text-dark">
										{{page["desc"]}}
									</div>
								</div>
							</div>
							<div class="page-title-actions">
								<button type="button" data-toggle="tooltip" title="" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark" data-original-title="Example Tooltip">
									<i class="fa fa-star"></i>
								</button>
							</div>
						</div>
					</div>
				</div>