<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/static/css/form.css">
</head>
<body>
    <form action="/upload" method="post">
        <h3>Sign Up</h3>
        <label for="file_path"></label>
        <input type="text" id="file_path" name="file_path" placeholder="Your File Path" required><br>
        <button type="submit" value="Submit">Submit</button>
    </form>
</body>
</html>