<!DOCTYPE html>
<html lang="en">
<head>

    {% include '/includes/commonHeaders.html' %}
	<!-- Begin Page Specific CSS & JS -->
		<script src="https://cdn.jsdelivr.net/npm/echarts@5.1.2/dist/echarts.min.js"></script>
		<style>
			/* Set a height for the chart container */
			.chart-container {
				height: 400px;
				width: 100%;
				display: inline-block; /* Display containers in a row */
			}
		</style>
		

	<!-- End of Page Specific CSS & JS -->
</head>
<body id="page-top">
	<!-- Page Wrapper -->
    <div id="wrapper">
		
		<!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
			
				{% include '/includes/topNav.html' %}
	
				<!-- Begin Page Content -->
                <div class="container-fluid">
				
				<!-- Page Heading -->
					{% include '/includes/PageHeading.html' %}
					
                    <h1 class="h3 mb-1 text-gray-800">JIRA Details</h1>
					{{jiraDetails}}
					
					{% if query!="" %}
						{% include '/charts/DefectPie.html' %}
					{% endif %}
					
					<br>
					
					



                    



                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
			
			{% include '/includes/footer.html' %}
			
		</div>
		
		
		
	</div>
</body>
	{% include '/includes/commonJS.html' %}
	<!-- Begin Page Specific JS -->
	<!-- End of Page Specific JS -->
</html>
